//Variables
$body-BG-color: hsl(218, 23%, 16%);
$advice-UI-BG-color: hsl(217, 19%, 24%);
$advice-color: hsl(150, 100%, 66%);

@use 'reset';
//Google Font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');



@mixin Flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    @include Flex(column);
    font-family: 'Manrope', sans-serif;

    background-color: $body-BG-color;
}

.wrapper {
    @include Flex(column);
    max-width: 22rem;
    flex: 1
}

.main-container {
    @include Flex(column);
    position: relative;
    gap: 1em;
    background-color: $advice-UI-BG-color;
    padding: 1.3em;
    color: white;
    border-radius: 10px;
}

.advice-number {
    color: $advice-color;
    font-size: 0.75rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.advice-text {
    text-align: center;
    opacity: 0.7;
    font-weight: 800;
    font-size: 1.5rem;
}

.pattern-container {
    margin-bottom: 2em;
}

.advice-button {
    cursor: pointer;
    position: absolute;
    background-color: $advice-color;
    padding: 1em;
    border: none;
    border-radius: 50%;
    box-shadow: 0;
    bottom: 0;
    transform: translateY(50%);
    transition: all 0.2s ease-in;

}

.advice-button:hover{
    box-shadow: 1px 1px 15px $advice-color;
}

//Footer
.attribution {
    display: block;
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
    color: white;
    background-color: $advice-UI-BG-color;
    padding: 0.5em;
}

.attribution a {
    color: hsl(228, 100%, 63%);
}



@media (min-width: 50rem) {
    .wrapper{
        max-width: 28rem;
    }
}